﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LegalHunter</title>
    <!-- icon -->
    <link rel="icon" href="~/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/css/main.css">
</head>
<body>
    <style>
        .btn-primary {
    color: #fff;
    background-color: #138270;
    border-color: #138270;
    }

    .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
        background-color: #48BFAC;
        background-image: none;
        border-color: #48BFAC
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #48BFAC;
        border-color: #48BFAC
    }
    .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
        background-color: #48BFAC;
        background-image: none;
        border-color: #48BFAC
    }
    textarea:focus, input:focus {
    border-color: #48BFAC !important;
}
    </style>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/logo.jpg" alt="IMG">
                </div>
                    @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/LoginTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/LoginTemplate/vendor/select2/select2.min.js"></script>

    <script src="~/LoginTemplate/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>



    <script src="~/LoginTemplate/js/main.js"></script>
    <script src="~/AdminTemplate/js/jquery.min.js"></script>

    <!-- end screpting -->
    @RenderSection("Scripts", required: false)
</body>
</html>
