﻿@using Microsoft.AspNetCore.Identity
@using LegalHunter.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LegalHunter</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.ContentVersioned("~/AdminTemplate/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.ContentVersioned("~/AdminTemplate/css/app.css")">
    <!-- icon -->
    <link rel="icon" href="@Url.ContentVersioned("~/favicon.ico")">
    <link href="@Url.ContentVersioned("~/select2.min.css")" rel="stylesheet" />
    <script src="@Url.ContentVersioned("~/AdminTemplate/js/jquery.min.js")"></script>
    <!-- Using the jquery dataTables CSS CDN -->
    <link href="@Url.ContentVersioned("//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")" rel="stylesheet" asp-append-version="true" />
    <script src="@Url.ContentVersioned("//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")"></script>

    <style>
        .bottomNewBtn {
            float: right !important;
            padding-top: 5px !important;
        }

        .fa-trash {
            color: white !important;
        }
        .bootbox .modal-content {
            margin: auto;
            width: 85%;
        }
        .btn-warning {
            color: #fff;
            background-color: #ffc107;
            border-color: #ffc107;
        }
        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
        .btn{
            margin-top:2px;
        }
        .btn-success {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }
        .btn-primary {
            color: #fff;
            background-color: #138270;
            border-color: #138270;
            box-shadow: 0px 4px 5px 0px #4fd6a7;
        }

        .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
            background-color: #48BFAC;
            background-image: none;
            border-color: #48BFAC;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #48BFAC;
            border-color: #48BFAC;
        }
        .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
            background-color: #48BFAC;
            background-image: none;
            border-color: #48BFAC;
        }
        .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
            background-color: #48BFAC;
        }
        a {
        color: #fff;
        }
        a:focus, a:hover {
            color: #FFE588;
        }
        table.dataTable.no-footer {
            border-bottom: 1px solid #138270;
        }
        .dataTables_wrapper.no-footer .dataTables_scrollBody {
            border-bottom: 1px solid #138270;
        }
        table.dataTable thead th, table.dataTable thead td {
            border-bottom: 1px solid #138270;
        }
    </style>
</head>
<body>
    <!-- start admin -->
    <section id="admin">
        <!-- start sidebar -->
        <div class="sidebar">
            <!-- start with head -->
            <div class="head">
                <div class="logo">
                    <img src="~/logo.jpg" alt="">
                </div>
                <a href="#" class="btn btn-danger">LEGAL HUNTER</a>
            </div>
            <!-- end with head -->
            <!-- start the list -->
            <div id="list">
                <ul class="nav flex-column">
                    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active"><i class="fa fa-home"></i>Dashboard</a></li>
                    <!-- end user interface submenu -->
                    <!-- start with charts -->
                    <!-- end with charts -->
                    <li class="nav-item"><a asp-area="" asp-controller="Exams" asp-action="ExamList" class="nav-link"><i class="fa fa-table"></i>Exams Management</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Questions" asp-action="QuestionsList" class="nav-link"><i class="fa fa-edit"></i>Manage Questions</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Category" asp-action="CategoryList"  class="nav-link"><i class="fa fa-play"></i>Category List</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-users"></i>User Management</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bars"></i>Subscription Types</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-adjust"></i>Subscription History</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-money-bill-alt"></i>Invoices</a></li>

                </ul>
            </div>
            <!-- end the list -->
        </div>
        <!-- end sidebar -->
        <!-- start content -->
        <div class="content">
            <!-- start content head -->
            <div class="head">
                <!-- head top -->
                <div class="top">
                    <div class="left">
                        <button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
                        <button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
                        @*<button class="btn btn-info hidden-xs-down"><i class="fa fa-expand-arrows-alt"></i></button>
                            <button class="btn btn-info hidden-xs-down"><i class="fa fa-home"></i>Back Home</button>*@
                    </div>
                    <div class="right">
                        <button class="btn btn-info hidden-xs-down"><i class="fa fa-bell"></i></button>
                        @*<button class="btn btn-info hidden-xs-down"><i class="fa fa-envelope"></i></button>*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</button>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">profile</a>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">log out</a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <!-- end head top -->


            </div>
            <!-- end content head -->
            <!-- start with the real content -->
            <div id="real">

                @RenderBody()

            </div>
            <!-- end the real content -->
        </div>
        <!-- end content -->
    </section>
    <!-- end admin -->
    <!-- start screpting -->

    <script src="~/AdminTemplate/js/tether.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/js/highcharts.js"></script>
    <script src="~/AdminTemplate/js/chart.js"></script>
    <script src="~/AdminTemplate/js/app.js"></script>

    <script src="~/select2.full.min.js"></script>
    <script src="~/select2.min.js"></script>
    <script src="~/bootbox.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
      //toaster notification
        function Notification(Content, Color) {
            debugger
            //var value = '<div class="toast hide toast-3s" role="alert" aria-live="assertive" data-delay="5000" aria-atomic="true" style="position: fixed;bottom: 40px;z-index: 10000;border-radius: 6px;padding: 10px;color:#fff;right: 40px;background: ' + Color + ';box-shadow: 0px 1px 20px 1px #5f5e5ec2;min-width:350px;border: none;font-size: 15px;max-width: 400px;letter-spacing:.4px;">' +
            //    '<div class="toast-body" ><button type="button" class=" close" data-dismiss="toast" aria-label="Close" style="float:right;    margin: 0 5px;"><span style="color: white;">&times;</span></button>' + Content + '</div></div>'

            var value = '<div class="alert" style="position: fixed;bottom: 40px;z-index: 10000;border-radius: 6px;padding: 10px;color:#fff;right: 40px;background: ' + Color + ';box-shadow: 0px 1px 20px 1px #5f5e5ec2;min-width:350px;border: none;font-size: 15px;max-width: 400px;letter-spacing:.4px;" role="alert">'+
      					'<span>'+ Content +'.</span>'+
      					'</div >';
            if (value != null && value != "") {
                $("div.toast-3s").remove();
            }
            $("body").append(value);
            $('.toast-3s').toast('show')

        }
      //end

        $(document).ready(function () {
            @Html.Raw(TempData["AlertStatus"])
            $('.Select2').select2();

        });

        function LoadConfirm(Path, e, type) {

            var currentForm = e;
            var ConfirmMessage = '';
            var ConfirmMessageTitle = '';
            if (type == "delete") {
                ConfirmMessage = 'Confirm to delete this file, as this action cant be reversed.';
                /**/
                ConfirmMessageTitle = 'Delete Data';
                /**/
            }

            e.preventDefault();
            bootbox.dialog({
                title: ConfirmMessageTitle,
                message: '<p>' + ConfirmMessage + '</p>',
                size: 'medium',
                onEscape: true,
                backdrop: true,
                buttons: {

                    fo: {
                        label: 'Proceed',
                        className: 'btn-success',
                        callback: function () {
                            window.location.href = '../' + Path;

                        }
                    },
                    fum: {
                        label: 'Cancel',
                        className: 'btn-danger',
                        callback: function () {

                        }
                    }
                }
            })
        };
    </script>

    <!-- end screpting -->
    @RenderSection("Scripts", required: false)
</body>
</html>
