﻿@{
    ViewData["Title"] = "Home Page";
}
<!-- start head bottom -->
<div class="bottom">
    <div class="left">
        <h1>Dashboard</h1>
    </div>
    <div class="right">
        <h1>dashboard /</h1>
        <a href="#">Home</a>
    </div>
</div>
<!-- end head bottom -->
<div class="row">

    <!-- start analytics -->
    <div class="col-lg-3">
        <div class="analytics">
            <div class="card">
                <div class="icon"><i class="fa fa-video"></i></div>
                <div class="text">
                    <h1>984</h1>
                    <p>Total Exams</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="analytics">
            <div class="card">
                <div class="icon"><i class="fab fa-vimeo-v"></i></div>
                <div class="text">
                    <h1>1455</h1>
                    <p>Total Questions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="analytics">
            <div class="card">
                <div class="icon"><i class="fa fa-users"></i></div>
                <div class="text">
                    <h1>32</h1>
                    <p>Total users</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="analytics">
            <div class="card">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <div class="text">
                    <h1>43</h1>
                    <p>Active Users</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end analytics -->
    <!-- start Active Leads -->
    <div class="col-lg-7">
        <div id="leads">
            <div class="card">
                <h1 class="head">Active Users</h1>
                <table class="table">
                    <!-- start head -->
                    <thead>
                        <tr>
                            <th>type</th>
                            <th>lead number</th>
                            <th>views</th>
                            <th>Favorites</th>
                            <th>Visit</th>
                            <th>Last Action</th>
                        </tr>
                    </thead>
                    <!-- end head -->
                    <!-- start body -->
                    <tbody>
                        <!-- start rows -->
                        <tr>
                            <td class="text-primary">Seller</td>
                            <td>mohamed said</td>
                            <td>532</td>
                            <td>864</td>
                            <td>12:23 AM</td>
                            <td><span class="table-icon fa fa-envelope"></span> 42/6/2018</td>
                        </tr>
                        <tr>
                            <td class="text-info">Buyer</td>
                            <td>Denise Ann</td>
                            <td>150</td>
                            <td>150</td>
                            <td>9:23 AM</td>
                            <td><span class="table-icon fa fa-envelope"></span> 11/9/2015</td>
                        </tr>
                        <tr>
                            <td class="text-info">Buyer</td>
                            <td>Denise Ann</td>
                            <td>150</td>
                            <td>150</td>
                            <td>9:23 AM</td>
                            <td><span class="table-icon fa fa-envelope"></span> 11/9/2015</td>
                        </tr>
                        <tr>
                            <td class="text-primary">Seller</td>
                            <td>mohamed said</td>
                            <td>532</td>
                            <td>864</td>
                            <td>12:23 AM</td>
                            <td><span class="table-icon fa fa-envelope"></span> 42/6/2018</td>
                        </tr>
                        <tr>
                            <td class="text-primary">Seller</td>
                            <td>mohamed said</td>
                            <td>532</td>
                            <td>864</td>
                            <td>12:23 AM</td>
                            <td><span class="table-icon fa fa-envelope"></span> 42/6/2018</td>
                        </tr>
                        <tr>
                            <td class="text-info">Buyer</td>
                            <td>Denise Ann</td>
                            <td>150</td>
                            <td>150</td>
                            <td>9:23 AM</td>
                            <td><span class="table-icon fa fa-envelope"></span> 11/9/2015</td>
                        </tr>
                        <!-- end rows -->
                    </tbody>
                    <!-- end body -->
                </table>
            </div>
        </div>
    </div>
    <!-- end Active Leads -->
    <!-- start task card -->
    <div class="col-lg-5">
        <div id="active">
            <div class="card">
                <p class="head">Active user right now</p>
                <div class="info">
                    <div class="col">
                        <h1>937</h1>
                        <p>users</p>
                    </div>
                    <div class="col">
                        <h1>82</h1>
                        <p>guests</p>
                    </div>
                </div>
                <p class="head">Page view per aria</p>
                <div class="aria">
                    <p>22 from the United States of America</p>
                    <p>96 from the egypt</p>
                    <p>667 from the canada</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end task card -->

</div>

