﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
    <br />
    <p>
        <a style="color:#138270;font-weight:bold" asp-page="./Login">Login to your account?</a>
    </p>
</header>
