﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<form class="login100-form validate-form">
    <span class="login100-form-title">@ViewData["Title"]</span>

    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</form>
